.blanket-footer{
    position: relative;
    background-color: #333087;
    padding-top: 60px;

    &__wrapper{
        position: relative;
        bottom: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/image/background/star-footer.png");
    }
    &__title{
        text-align: center;
        color: white;
        font-size: 70px;
        text-transform: uppercase;
    }
    &__blankets{
        padding-top: 50px;
        display: flex;
        gap: 50px;
        justify-content: space-between;
        align-items: end;
    }
    &__fineDream,
    &__fineOtrick{
        display: flex;
        flex-direction: column;
        gap: 30px;
        img{
            width: 100%;
            max-width: 600px;
        }
        h3{
            color: white;
            text-align: center;
            font-size: 50px;
        }
    }
    &__comparisions{
        padding-bottom: 40px;
    }
    &__comparision{
        padding-top: 20px;
        h3{
            color: $yellowColor;
            font-size: 30px;
        }
    }

    &__parameters{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__parameters-fineDream,
    &__parameters-fineSpring{
        margin-top: 10px;
        text-align: center;
        width: 100%;
        color: $whiteColor;
        font-size: 50px;
        max-width: 800px;
        background: $yellowColor;
        padding: 20px 20px;
        border-radius: 10px;
    }

    &__h2{
        color: $whiteColor;
        font-size: 70px;
        text-align: center;
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 700px;
    }

    @media (max-width: 1650px) {
        &__comparision{
            h3{
                font-size: 25px;
            }
        }

        &__fineDream,
        &__fineOtrick{
            h3{
                font-size: 30px;
            }
        }

        &__parameters-fineDream,
        &__parameters-fineSpring{
            font-size: 25px;
        }

        &__h2{
            font-size: 60px;
            max-width: 850px;
        }
    }

    @media (max-width: 1024px) {
        &__title{
            font-size: 50px;
        }

        &__h2{
            font-size: 40px;
            max-width: 600px;
        }
    }

    @media (max-width: 768px) {
        &__title{
            font-size: 30px;
        }
        &__fineDream,
        &__fineOtrick{
            h3{
                font-size: 20px;
            }
        }
        &__comparision{
            h3{
                font-size: 15px;
            }
        }
        &__parameters{
            &-fineDream,
            &-fineSpring{
                font-size: 15px;
                padding: 15px 15px;
            }
        }

        &__h2{
            font-size: 30px;
            max-width: 500px;
        }
    }

    @media (max-width: 425px) {
        &__comparisions,
        &__title,
        &__blankets{
            display: none;
        }
        &__h2{
            padding-bottom: 245px;
        }
    }
}